
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  

 }

 body{
  padding:100px;
 }
#row1{
  margin:auto;
}
.text-title{
 margin-top: 100px;
 font-size: 40px;
 font-weight:bold ;
}

.submit-area{
  margin-top: 50px;
  margin-bottom:50px;
  border-radius: 10px;
  box-shadow: 5px 5px 10px gray;
  padding:40px;
}

#transaction-area{
  display: none;
}

.status{
  color: white;

 
}

.status h5{
  font-size: 25px;
}

.status h2{
  font-size: 50px;
}
.deposite{
  background-color: blueviolet;
  margin:0 20px;
  padding: 30px;
  border-radius: 30px;
}

.withdraw{
  background-color:brown;
  margin:0 20px;
  padding: 30px;
  border-radius: 30px;
}

.balance{
  background-color:darkslategrey;
  margin:0 20px;
  padding: 30px;
  border-radius: 30px;
}